# If-Else Assignment 1

# 1. Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater using if condition. Think about all the edge cases, and print the statements accordingly.

In [9]:
a, b = 10, 20
if a>b: 
    print(f'{a} is greater than {b}')
elif a == b:
    print(f'{a} is equal to {b}')
else: 
    print(f'{a} is less than {b}')

10 is less than 20

# Assignment 2 - Conditional Statements Assignment

# 1. Take three user inputs and print the greatest number from those inputs using if-else condition. Edge cases, if any, should also be handled.

In [26]:
a, b, c =  eval(input("Enter First Number: ")), eval(input("Enter Second Number: ")), eval(input("Enter Third Number: "))
if a>b and a>c: print(f"{a} is greater")
elif a>b and b>c: print(f"{a} is greater")
elif a==b and b>c: print(f"{a} and {b} are greater")
elif b>c : print(f"{b} is greater")
elif c>b and c>a: print(f"{c} is greater")
elif a==b and a==c: print(f"{a}, {b}, {c} are all same and greater numbers")
elif a==b : print(f"{a} and {b} are greater numbers")
elif a==c: print(f"{a} and {c} are greater numbers")
elif b==c: print(f"{b} and {c} are greater numbers")
else: print("Invalid numbers")

Enter First Number: 20
Enter Second Number: 10
Enter Third Number: 30
30 is greater

In [32]:
a, b, c =  eval(input("Enter First Number: ")), eval(input("Enter Second Number: ")), eval(input("Enter Third Number: "))
if a>b and a>c: 
    print(f"{a} is greater")
    if b>c: print(f"{b} is greater")
    elif b==c: print(f"{b} and {c} are greater numbers")
elif c>a and c>b: print(f"{c} is greater")
elif a==b and b==c: print(f"{a}, {b}, {c} are all same and greater numbers")
elif a==b : print(f"{a} and {b} are greater numbers")
elif a==c: print(f"{a} and {c} are greater numbers")
elif b==c: print(f"{b} and {c} are greater numbers")
else: print("Invalid numbers")

Enter First Number: 10
Enter Second Number: 20
Enter Third Number: 20
20 and 20 are greater numbers

# Module 1: Loops    --     Assignment - 1

# 1. Print the numbers from 1 to 10 using while loop.

In [33]:
i = 1
while i<11 :
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

# Module 1: Loops   ---    Assignment - 2

# 1. Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help of while loop fetch the even numbers and print the numbers.

In [35]:
list1 = [10, 23, 4, 26, 4, 75, 24, 54 ]
index = 0
while index < len(list1):
    if list1[index] %2 == 0:
        print(list1[index], end = ', ')
    index += 1

10, 4, 26, 4, 24, 54,

# Module 1: Loops   --    Assignment - 3

# 1. Create an array that has user defined inputs and with the help of for loop, fetch all the prime numbers and print the numbers

In [43]:
list1 = eval(input("Enter the list of numbers: "))
output =[]
for i in list1:
    count = 0
    for j in range(2, int(i/2+1)): 
        if i%j ==0:
            count = 1
            break
    if count == 0:
        output.append(i)
print(f"List of prime numbers are {output}")

Enter the list of numbers: [234,11,235,42,87,89,23,83]
List of prime numbers are [11, 89, 23, 83]

# Module 1: Case Study - 1

# 1. Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).

In [44]:
lst = [i for i in range(1,11)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2. Write a function to check if the year number is a leap year.

In [50]:
def is_leap_year(year):
      # Checking if the given year is leap year  
    if((Year % 400 == 0) or   (Year % 100 != 0) and  (Year % 4 == 0)):   
        print("Given Year is a leap Year");  
    else:     print ("Given Year is not a leap Year")  
Year = int(input("Enter the number: "))  
is_leap_year(Year)

Enter the number: 2024
Given Year is a leap Year

# 3. Write a function to take an array and return another array that contains the members of the first array that are even.

In [54]:
def get_even(lst):
    output = []
    for i in lst:
        if i%2 == 0:
            output.append(i)
    return output
print(get_even([10, 20, 32,113,21324,333]))

[10, 20, 32, 21324]

# 4. Write a function that takes 2 arrays and prints the members of the first array that are present in the second array. (HINT: use Membership Comprehension)

In [56]:
def first_in_second(l1, l2):
    return [i for i in l1 if i in l2]

first_in_second([1,2,32,35,13,5],   [1,2,3,4,5])

[1, 2, 5]

# Module 1: Case Study - 2

# 1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):
- a. Concatenate the two tuples and store it in “t_combine”
- b. Repeat the elements of “t_combine” 3 times
- c. Access the 3rd element from “t_combine”
- d. Access the first three elements from “t_combine”
- e. Access the last three elements from “t_combine”

In [68]:
t1 = (10,20,30)
t2 = (40,50,60)

t_combine = t1 + t2
print(t_combine)
t_combine3 = t_combine * 3
print(t_combine3)
print(f"3rd element : {t_combine[2]}")
print(f"First 3 elements are : {t_combine[0:3]}")
print(f"Last 3 elements are : {t_combine[-1:-4:-1]}")  # reverse order
print(f"Last 3 elements are : {t_combine[len(t_combine) - 3:len(t_combine):1]}")  # Actual order

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
3rd element : 30
First 3 elements are : (10, 20, 30)
Last 3 elements are : (60, 50, 40)
Last 3 elements are : (40, 50, 60)

# 2. Create a list ‘my_list’ with these elements:
- a. First element is a tuple with values 1, 2, 3
- b. Second element is a tuple with values “a”, “b”, “c”
- c. Third element is a tuple with values True, False

In [74]:
my_list = [(1,2,3) , ("a","b","c"), (True, False)]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

# 3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
- a. Append a new list – *“sparta”, 123+ to my_list

In [75]:
my_list.append((1, 'a', True))
my_list.extend(["sparta", 123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), 'sparta', 123]

# 4. Create a dictionary ‘fruit’ where:
- a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”, “Guava”)
- b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
- c. Extract all the keys from ‘fruit’
- d. Extract all the values from ‘fruit’

In [79]:
fruit = {'Fruit': ['Apple', 'Banana', "Mango", '''Guava'''],
          'Cost': [85, 54, 120, 70]}
print(f"All keys from fruit are :  {list(fruit.keys())}")
print(f"All values from fruit are : {list(fruit.values())}")

All keys from fruit are :  ['Fruit', 'Cost']
All values from fruit are : [['Apple', 'Banana', 'Mango', 'Guava'], [85, 54, 120, 70]]

# 5. Create a set named 'my_set' with values (1, 1, "a", "a", True, True) and print the result.

In [80]:
my_set = {1, 1, 'a', "a", True, True}
print(f"my_set is : {my_set}")

my_set is : {1, 'a'}

In [ ]:
for i in(5, 10):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")