# Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above

In [2]:
n, r, p = 10, 5, 100
A = p*((1+ (r/100))**n)
print(A)  # Answer b. 162.89

162.8894626777442

# Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above

In [6]:
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(A,B)) # Answer: A

There are 10 students in the class, with 20 who play at least one sport.

# Q3. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.

In [12]:
#Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
print("It goes without saying, \"Time is Money\", and none can deny it.")
# b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
# c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
# d. None of the above.

It goes without saying, "Time is Money", and none can deny it.

# Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000

In [14]:
x = lambda a,b: a//b
x(10,3)  # Answer:  B

3

In [15]:
print(dir())
print(__name__)

['A', 'B', 'In', 'Out', 'Str', '_', '_13', '_14', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'n', 'open', 'p', 'quit', 'r', 'x']
__main__

In [43]:
a = 'aaaaabbbccccccaaadeeeea' 
list1 = []
split_index = 0
for i in range(len(a)):
    if i != len(a)-1 and a[i]!=a[i+1]:
        list1.append(a[split_index:i+1])
        split_index=i+1
list1.append(a[split_index: len(a)])
print(list1)
"".join([i[0]+str(len(i)) for i in list1])

['aaaaa', 'bbb', 'cccccc', 'aaa', 'd', 'eeee', 'a']

'a5b3c6a3d1e4a1'

# Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above

In [44]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True") 
# Answer: C: greater

Greater

# Q6. What will be the output of the following code?

a. [2 7 3 5 4 6]
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above

In [1]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = np.array(my_list1, dtype = int)
print(arr_1)
arr_1
# Answer: a. [2 7 3 5 4 6]

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

array([2, 7, 3, 5, 4, 6])

# Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. 
Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]

In [48]:
string = 'Machine Learning'
string[slice(8,13,1)]

'Learn'

# Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?
a. 3
b. 2
c. 0
d. 1

In [69]:
sequence = range(10,26,4)
sequence.index(18)
# Answer: b. 2

2

# Q9. Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2

In [73]:
num1 = 5**4
num2 = pow(5,4)
print(num1, num2)
print(num1 == num2)
print(id(num1) == id(num2))

625 625
True
False

# Q10.A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

#### Answer: a. Trying to access a variable which has not been defined

# Q11.What type of exception will be raised for the code given below?
a. NameError
b. KeyError
c. ValueError
d. AttributeError

In [76]:
x = "string"
int(x)
# Answer: ValueError

ValueError: invalid literal for int() with base 10: 'string'

# Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory
##### Answer: b. A file or directory is requested but does not exist in the working directory

# Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean
##### Answer: b. Character

In [78]:
Z = "ID-5632"
type(Z)

str

# Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above
###### Answer : d. All of the above

In [79]:
K="4"
J="Welcome"
L="?"
print(type(K), type(J), type(L))
# types of variables are all String  or Character

<class 'str'> <class 'str'> <class 'str'>

# Q15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #
##### Answer: d. #

## Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:
Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [3]:
Country = {'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha',
          'France': 'Marseilles'}
Country['France'] = 'Paris'
print(Country)

Country.setdefault('France', 'Paris')
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

# Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45

In [28]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
# Identify which of the following code does not work on a tuple.
print(sum(tuple_1))
print(len(tuple_2))
print(tuple_2 + tuple_1)
tuple_1[3] = 45
# Answer d. Tuples are immutable, cannot change values

27
3
(8, 9, 4, 1, 5, 6, 7, 8)

TypeError: 'tuple' object does not support item assignment

# Q18. How many elements in the following data structure?
s = {1,2,3,4,4,4,5,6}

In [29]:
print(len(s))  # 5 elements in the set s

5

# Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [47]:
N = eval(input("Enter value for maximum side of a pythagorean triangle: "))
def pythagorean(N):
    output = []
    for i in range(1, N+1):
        for j in range(1, N+1):
            for k in range(1, N+1):
                comp = j**2 + k**2
                if i**2 == (j**2 + k**2) and j >= k:
                    output.append({i, j, k})
                else:
                    continue
    return ([sorted(list(i)) for i in output])
print(pythagorean(N))

Enter value for maximum side of a pythagorean triangle: 21
[[3, 4, 5], [6, 8, 10], [5, 12, 13], [9, 12, 15], [8, 15, 17], [12, 16, 20]]

# Class Practice

In [4]:
a = eval(input("Enter First Number: "))
b = eval(input("Enter Second Number: "))
print(f"Product of numbers is: {a*b}")

Enter First Number: 20
Enter Second Number: 10
Product of numbers is: 200

In [13]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
print(f"Concatenation of two strings is: {a+b}")
print(f"Concatenation of two strings is: {a}{b}")
print("Concatenation of two strings is: {}{}".format(a,b))

Enter First String: d
Enter Second String: a
Concatenation of two strings is: da
Concatenation of two strings is: da
Concatenation of two strings is: da

In [21]:
lst = [1,2,3,4,5,63,2,1,14,4,5,7,3]
print("Maximum number is: " + str(max(lst)))
print("Average of numbers is: " + str(sum(lst) / len(lst)))

Maximum number is: 63
Average of numbers is: 8.76923076923077

In [22]:
a = (1,3,5,2.2,13,4,2)
print(f"Sum is {sum(a)}")

Sum is 30.2

In [23]:
fruits = ['üçá','üçä','üçé','üçí']
print(fruits[0])

'üçá'

In [25]:
s = input("Enter a String: ")
print(f"Length of the string is {len(s)}")

Enter a String: hello
Length of the string is 5

In [26]:
x = 12.9
print(f"Rounded Number is: {round(x)}")

Rounded Number is: 13

In [27]:
a = 10
b = 20
a, b = b, a
print(a, b)

20 10