#### Q1. Write a Python program to demonstrate multiple inheritance.
- 1. Employee class has 3 data members EmployeeID, Gender (String), Salary and PerformanceRating(Out of 5) of type int. It has a get() function to get these details from the user.
- 2. JoiningDetail class has a data member DateOfJoining of type Date and a function getDoJ to get the Date of joining of employees.
- 3. Information Class uses the marks from Employee class and the DateOfJoining date from the JoiningDetail class to calculate the top 3 Employees based on their Ratings and then Display, using readData, all the details on these employees in Ascending order of their Date Of Joining.

In [147]:
class Base:
    def __init__(self): 
        pass

class Employee(Base):
    def __init__(self, EmployeeID, Gender, Salary, PerformanceRating, **kwargs):
        self.EmployeeID = EmployeeID
        self.Gender = Gender
        self.Salary = Salary
        self.PerformanceRating = PerformanceRating
        super(Employee, self).__init__(**kwargs)
    def get(self):
        print(f"EmployeeID: {self.EmployeeID}, Gender: {self.Gender}, Salary: {self.Salary}, PerformanceRating: {self.PerformanceRating}")
        return {'EmployeeID': self.EmployeeID, 'Gender': self.Gender, 'Salary': self.Salary, 
              'PerformanceRating': self.PerformanceRating}
class JoiningDetail(Base):
    def __init__(self, DateOfJoining, **kwargs):
        self.DateOfJoining = DateOfJoining
        super(JoiningDetail, self).__init__(**kwargs)
        print("JoiningDetail")
    def getDoJ(self):
        print(f"DateOfJoining:: {self.DateOfJoining}")
        return self.DateOfJoining

from collections import OrderedDict
from operator import getitem
from datetime import date

class Information(Employee, JoiningDetail):
    def __init__(self, EmployeeID, Gender, Salary, PerformanceRating, DateOfJoining):
#         Employee.__init__( EmployeeID, Gender, Salary, PerformanceRating, DateOfJoining)
#         JoiningDetail.__init__( DateOfJoining)
        super(Information, self).__init__(EmployeeID=EmployeeID, Gender=Gender, Salary=Salary, PerformanceRating=PerformanceRating, DateOfJoining=DateOfJoining)
def readData():
    return {1234: Information(1234, 'Female', 87899, 4, date(1982, 10,20)),
                 3456: Information(3456, 'Male', 100009, 4, date(1995,6,21)),
                 5678: Information(5678, 'Female', 879455, 5, date(2002,1,13)),
                 7890: Information(7890, 'Male', 456489, 2, date(1975,5,2)),
                 1590: Information(1590, 'Female', 21348, 1, date(1963,8,27)),
                 4567: Information(7582, 'Female', 467889, 3, date(2022,4,11))}


def Display():
    dic = readData()
    res = OrderedDict(sorted(dic.items(),
       key = lambda x: x[1].get()['PerformanceRating'], reverse=True))
    print("-------------------------------")
    print("The sorted dictionary by marks is : " + str(res))
#     for i, j in res.items(): print(i, j.get(), dic[j.get()['EmployeeID']].DateOfJoining)
    count = 3
    output = dict()
    for i,j in res.items():
        output[i] = j.get()
        output[i]['DateOfJoining'] = j.getDoJ()
        count -= 1
        if count <=0: break
    print("output::::", output)
    res = OrderedDict(sorted(output.items(),
       key = lambda x: int(x[1]['DateOfJoining'].strftime('%Y%m%d')), reverse=True))
#     int(a.strftime('%Y%m%d'))
    for i, j in res.items():
        print(i, j)
Display()
# ob = Information(EmployeeID=1234, Gender='Female', Salary=87899, PerformanceRating=4, DateOfJoining='1975')
# ob.getDoJ()

JoiningDetail
JoiningDetail
JoiningDetail
JoiningDetail
JoiningDetail
JoiningDetail
EmployeeID: 1234, Gender: Female, Salary: 87899, PerformanceRating: 4
EmployeeID: 3456, Gender: Male, Salary: 100009, PerformanceRating: 4
EmployeeID: 5678, Gender: Female, Salary: 879455, PerformanceRating: 5
EmployeeID: 7890, Gender: Male, Salary: 456489, PerformanceRating: 2
EmployeeID: 1590, Gender: Female, Salary: 21348, PerformanceRating: 1
EmployeeID: 7582, Gender: Female, Salary: 467889, PerformanceRating: 3
-------------------------------
The sorted dictionary by marks is : OrderedDict([(5678, <__main__.Information object at 0x00000278EACC9AD0>), (1234, <__main__.Information object at 0x00000278EACC9950>), (3456, <__main__.Information object at 0x00000278EAB88ED0>), (4567, <__main__.Information object at 0x00000278EAFC1490>), (7890, <__main__.Information object at 0x00000278EA768FD0>), (1590, <__main__.Information object at 0x00000278EA571590>)])
EmployeeID: 5678, Gender: Female, Salary: 879455, PerformanceRating: 5
DateOfJoining:: 2002-01-13
EmployeeID: 1234, Gender: Female, Salary: 87899, PerformanceRating: 4
DateOfJoining:: 1982-10-20
EmployeeID: 3456, Gender: Male, Salary: 100009, PerformanceRating: 4
DateOfJoining:: 1995-06-21
output:::: {5678: {'EmployeeID': 5678, 'Gender': 'Female', 'Salary': 879455, 'PerformanceRating': 5, 'DateOfJoining': datetime.date(2002, 1, 13)}, 1234: {'EmployeeID': 1234, 'Gender': 'Female', 'Salary': 87899, 'PerformanceRating': 4, 'DateOfJoining': datetime.date(1982, 10, 20)}, 3456: {'EmployeeID': 3456, 'Gender': 'Male', 'Salary': 100009, 'PerformanceRating': 4, 'DateOfJoining': datetime.date(1995, 6, 21)}}
5678 {'EmployeeID': 5678, 'Gender': 'Female', 'Salary': 879455, 'PerformanceRating': 5, 'DateOfJoining': datetime.date(2002, 1, 13)}
3456 {'EmployeeID': 3456, 'Gender': 'Male', 'Salary': 100009, 'PerformanceRating': 4, 'DateOfJoining': datetime.date(1995, 6, 21)}
1234 {'EmployeeID': 1234, 'Gender': 'Female', 'Salary': 87899, 'PerformanceRating': 4, 'DateOfJoining': datetime.date(1982, 10, 20)}

In [118]:
# checking multiple polymorphism
class A(object):
    def __init__(self):
#         self.a=a
        pass

class B(A):
    def __init__(self,b,**kw):
        self.b=b
        super(B,self).__init__(**kw)

class C(A):
    def __init__(self,c,**kw):
        self.c=c
        super(C,self).__init__(**kw)

class D(B,C):
    def __init__(self,b,c,d):
        super(D,self).__init__(b=b,c=c)
        self.d=d
D(2,3,4).c

3

#### Q.2 Write a Python program to demonstrate Polymorphism.
- 1. Class Vehicle with a parameterized function Fare, that takes input value as fare and returns it to calling Objects. 
- 2. Create five separate variables Bus, Car, Train, Truck and Ship that call the Fare function.
- 3. Use a third variable TotalFare to store the sum of fare for each Vehicle Type.
- 4. Print the TotalFare.

In [32]:
class Vehicle:
    def Fare(self, fare):
        self.fare = fare
        return self.fare
Bus, Car, Train, Truck, Ship = Vehicle(), Vehicle(), Vehicle(), Vehicle(), Vehicle()
TotalFare = Bus.Fare(45) + Car.Fare(32) + Train.Fare(78) + Truck.Fare(23) + Ship.Fare(34)
print(TotalFare)

212

##### Q3. Consider an ongoing test cricket series. Following are the names of the players and their scores in the test1 and 2.
- Test Match 1 :
- Dhoni : 56 , Balaji : 94
- Test Match 2 :
- Balaji : 80 , Dravid : 105
- Calculate the highest number of runs scored by an individual cricketer in both of the matches.
- Create a python function Max_Score (M) that reads a dictionary M that recognizes the player with the highest total score. This function will return ( Top player , Total Score ) . You can consider the Top player as String who is the highest scorer and Top score as Integer .
- Input : Max_Score({‘test1’:{‘Dhoni’:56, ‘Balaji : 85}, ‘test2’:{‘Dhoni’ 87, ‘Balaji’’:200}})
- Output : (‘Balaji ‘ , 200)

In [45]:
M = {'Test Match 1': {'Dhoni': 56, 'Balaji': 94},
      'Test Match 2': {'Balaji': 80, 'Dravid': 105}}
def high_per_test_score(d):
    max_score, player, match_no = 0, '', ''
    for i,j in d.items():
        for k,l in j.items():
            if l > max_score: 
                max_score = l 
                player = k
                match_no = i
    print(f"Highest score by {player} in {match_no}: {max_score}")
high_per_test_score(M)

def Max_Score(M):
    out_dict = dict()
    for i,j in d.items():
        for k,l in j.items():
            if k in out_dict:
                out_dict[k] += l
            else:
                out_dict[k] = l
    print(out_dict)
    max_score, player = 0, ''
    for i, j in out_dict.items():
        if j > max_score: 
            max_score = j
            player = i
    print(f"{player} scored max runs of {max_score}")
Max_Score(M)

Highest score by Dravid in Test Match 2: 105
{'Dhoni': 56, 'Balaji': 174, 'Dravid': 105}
Balaji scored max runs of 174

##### Q4. Create a simple Card game in which there are 8 cards which are randomly chosen from a deck. The first card is shown face up. The game asks the player to predict whether the next card in the selection will have a higher or lower value than the currently showing card.
- For example, say the card that’s shown is a 3. The player chooses “higher,” and the next card is shown. If that card has a higher value, the player is correct. In this example, if the player had chosen “lower,” they would have been incorrect. If the player guesses correctly, they get 20 points. If they choose incorrectly, they lose 15 points. If the next card to be turned over has the same value as the previous card, the player is incorrect.

In [62]:
numbers = list(range(1, 14))
signs = ['heart', 'spade', 'diamond', 'flower']
deck = []
for i in numbers:
    for j in range(0,4):
        deck.append(i)

import random
cards = []
for i in range(0, 8):
    card = random.choice(deck)
    cards.append(card)
    deck.remove(card)

cards = [9, 2, 2, 3, 7, 2, 13, 9]
first_card = cards[0]
score = 0
print(cards)
print(f"First Card is: {first_card}")

for i in range(1,8):
    choice = (input("Enter Lower or higher (L / H) : "))
    if choice.upper() == 'L':
        if cards[i] < cards[i-1]:
            score += 20
        else: score -= 15
    elif choice.upper() == 'H': 
        if cards[i] > cards[i-1]:
            score += 20
        else: score -= 15
    print(f"Current Card is: {i}, Score is {score}")

[9, 2, 2, 3, 7, 2, 13, 9]
First Card is: 9
Enter Lower or higher (L / H) : l
Current Card is: 1, Score is 20
Enter Lower or higher (L / H) : h
Current Card is: 2, Score is 5
Enter Lower or higher (L / H) : h
Current Card is: 3, Score is 25
Enter Lower or higher (L / H) : h
Current Card is: 4, Score is 45
Enter Lower or higher (L / H) : l
Current Card is: 5, Score is 65
Enter Lower or higher (L / H) : h
Current Card is: 6, Score is 85
Enter Lower or higher (L / H) : l
Current Card is: 7, Score is 105

##### Q5. Create an empty dictionary called Car_0 . Then fill the dictionary with Keys : color , speed, X_position and Y_position.
- car_0 = {'x_position': 10, 'y_position': 72, 'speed': 'medium'} .
- a) If the speed is slow the coordinates of the X_pos get incremented by 2.
- b) If the speed is Medium the coordinates of the X_pos gets incremented by 9
- c) Now if the speed is Fast the coordinates of the X_pos gets incremented by 22. 
- Print the modified dictionary.

In [77]:
Car_0 = dict()
Car_0 = {'x_position': 10, 'y_position': 72, 'speed': 'medium'} 
# speed = slow ==> 
Car_0['speed'] = 'slow'
Car_0['x_position'] += 2 
Car_0['speed'] = 'medium'
Car_0['x_position'] += 9
Car_0['speed'] = 'fast'
Car_0['x_position'] += 22 
print(Car_0)

{'x_position': 43, 'y_position': 72, 'speed': 'fast'}

##### Q6. Show a basic implementation of abstraction in python using the abstract classes.
- 1. Create an abstract class in python.
- 2. Implement abstraction with the other classes and base class as abstract class.

In [79]:
from abc import ABC, abstractmethod
class Animal(ABC):  # Animal is an abstract class here
    @abstractmethod
    def speak(self):
        pass
    @abstractmethod
    def color(self):
        pass
    
class Dog(Animal):  # implementing Animal abstract class with Dog class.
    def speak(self):
        print('bark')
    def color(self):
        print('black')

d = Dog()
d.speak()

bark

##### Q7. Create a program in python to demonstrate Polymorphism.
- 1. Make use of private and protected members using python name mangling techniques.

In [85]:
class Animal:
    def speak(self):
        self._name = 'Animal'
    def animal_name(self, o):
        return o._name
class Cat(Animal):
    def speak(self):
        self._name = 'cat'
        return 'meow'

class Dog(Animal):
    def speak(self):
        self._name = 'dog'
        return 'bark'

def animal_sound(o):
    return o.speak()



c = Cat()
d = Dog()
print(animal_sound(c))
print(animal_sound(d))
print(Animal().animal_name(c))

meow
bark
cat

##### Q8. Given a list of 50 natural numbers from 1-50. Create a function that will take every element from the list and return the square of each element. Use the python map and filter methods to implement the function on the given list.

In [90]:
s = list(range(1, 51))
t = list(map(lambda x: x*x, s))
print(t)

def func(a): return a*a
i = list(map(func, s))
print(i)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

##### Q9. Create a class, Triangle. Its init() method should take self, angle1, angle2, and angle3 as arguments.

In [99]:
# in Q11

##### Q10. Create a class variable named number_of_sides and set it equal to 3.

In [100]:
# in Q11

##### Q11. Create a method named check_angles. The sum of a triangle's three angles should return True if the sum is equal to 180, and False otherwise. The method should print whether the angles belong to a triangle or not.
- 11.1 Write methods to verify if the triangle is an acute triangle or obtuse triangle.
- 11.2 Create an instance of the triangle class and call all the defined methods.
- 11.3 Create three child classes of triangle class - isosceles_triangle, right_triangle and equilateral_triangle.
- 11.4 Define methods which check for their properties.

In [96]:
class Triangle:
    def __init__(self, angle1, angle2, angle3):
        self.angle1, self.angle2, self.angle3 = angle1, angle2, angle3
        self.number_of_sides = 3
    def check_angles(self):
        if self.angle1 + self.angle2 + self.angle3 == 180: 
            print("Angles belong to the triangle")
            return True
        else: 
            print("Angles DO NOT belong to the triangle")
            return False
    def is_acute(self):
        if self.angle1 < 90 and self.angle2 < 90 and self.angle3 < 90: return True
        else: return False
    def is_obtuse(self):
        if self.angle1 > 180 or self.angle2 > 180 or self.angle3 > 180: return True
        else: return False

        ob = Triangle(49,20, 72)
ob.check_angles()
print('Is Acute? ', ob.is_acute())
print('Is Obtuse? ', ob.is_obtuse())

class  isosceles_triangle(Triangle):
    def check_isosceles(self):
        if self.angle1 == self.angle2 or self.angle1 == self.angle3 or self.angle2 == self.angle3:
            return True
        else: return False
class right_triangle(Triangle):
    def check_right(self):
        if self.angle1 == 90 or self.angle2 == 90 or self.angle3 == 90: return True
        else: return False
class equilateral_triangle(Triangle):
    def check_equilateral(self):
        if self.angle1 == self.angle2 == self.angle3: return True
        else: return False
print("Equilateral: ", equilateral_triangle(60,60,60).check_equilateral())

Angles DO NOT belong to the triangle
Is Acute?  True
Is Obtuse?  False
Equilateral:  True

##### Q12. Create a class isosceles_right_triangle which inherits from isosceles_triangle and right_triangle.
- 12.1 Define methods which check for their properties.

In [98]:
class isosceles_right_triangle(isosceles_triangle, right_triangle):
    def check_ir(self):
        if isosceles_triangle.check_isosceles(self) and right_triangle.check_right(self): return True
        else: return False
ob = isosceles_right_triangle(45,45,90)
print("Isosceles Right Triangle: ",ob.check_ir())

Isosceles Right Triangle:  True

In [64]:
import seaborn as sns
df = sns.load_dataset('titanic')
df

     survived  pclass     sex   age  sibsp  parch     fare  ...   class    who adult_male  deck  embark_town alive  alone
0           0       3    male  22.0      1      0   7.2500  ...   Third    man       True   NaN  Southampton    no  False
1           1       1  female  38.0      1      0  71.2833  ...   First  woman      False     C    Cherbourg   yes  False
2           1       3  female  26.0      0      0   7.9250  ...   Third  woman      False   NaN  Southampton   yes   True
3           1       1  female  35.0      1      0  53.1000  ...   First  woman      False     C  Southampton   yes  False
4           0       3    male  35.0      0      0   8.0500  ...   Third    man       True   NaN  Southampton    no   True
..        ...     ...     ...   ...    ...    ...      ...  ...     ...    ...        ...   ...          ...   ...    ...
886         0       2    male  27.0      0      0  13.0000  ...  Second    man       True   NaN  Southampton    no   True
887         1       1  female  19.0      0      0  30.0000  ...   First  woman      False     B  Southampton   yes   True
888         0       3  female   NaN      1      2  23.4500  ...   Third  woman      False   NaN  Southampton    no  False
889         1       1    male  26.0      0      0  30.0000  ...   First    man       True     C    Cherbourg   yes   True
890         0       3    male  32.0      0      0   7.7500  ...   Third    man       True   NaN   Queenstown    no   True

[891 rows x 15 columns]

In [66]:
import pandas as pd
import numpy as np

In [68]:
df['sex'].value_counts()['male']

577

In [76]:
len(df.loc[df['alive']=='yes'].loc[df['sex']=='male']) / df['sex'].value_counts()['male'] *100

18.890814558058924

In [75]:
len(df.loc[df['alive']=='yes'].loc[df['sex']=='female']) / df['sex'].value_counts()['female'] *100

74.20382165605095